.center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

img {
    max-width: 100%;
    border: solid 1px #eee;
    margin: 8px 0;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
}

.btn-lg {
    border-radius: 2px;
    background-color: #3878E2;
    color: #FFFFFF !important;
    border-color: #FFFFFF;
}

.jumbotron {
    margin-top: -20px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #3878E2;
    color: #FFFFFF
}

.jumbotron h1 {
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
    margin-bottom: 28px;
}

.jumbotron a:hover {
    border-color: #cccccc;
}

.jumbotron img {
    border: none;
    /*padding:30px;*/
    max-height: 200px;
}

.right-nav {
    padding-top: 20px;
}

.right-nav ol {
    margin: 10px 10px 0 40px;
}

.right-nav ol > li {
    padding: 4px 0;
}

.list-group-item {
}

h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

li > ul {
    margin-bottom: 20px;
}

li > ul > li {
    margin-bottom: 10px;
}

#footer {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: solid 1px #eee;
}

blockquote {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

h2 {
    font-size: 24px;
    border-bottom: solid 1px #EEE;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 40px;
}