{% include bootstrap-header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                <img src="images/ionic-logo.png"/>
                <h1>Ionic Tutorial</h1>
                <p><a class="btn btn-primary btn-lg" href="install-ionic.html" role="button">Start Now</a></p>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #f4f4f4;margin-top: -30px;border-bottom: solid 1px #ddd;padding:12px 0 6px 0;margin-bottom:30px;">
    <div class="container">
        <div class="row" style="text-align: center">
            <div style="margin-left: 30px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
               data-url="http://ccoenraets.github.io/ionic-tutorial"
               data-text="#ionicframework 1.0 tutorial with #nodejs REST services and #facebook integration. #angularjs #apachecordova">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

{% include bootstrap-footer.html %}
